* {
	background-color: #1c1c1c;
	color: whitesmoke;
	box-sizing: border-box;
	font-family: serif;
}

html {
	padding-bottom: 5%;
}

body {
	margin: 0;
	padding: 1% 15% 0 15%;
}

h1 {
	text-align: center;
}

img {
	display: block;
	margin: 0 auto;
	height: 500px;
	width: auto;
	padding: 2px;
	border: 2px solid white;
	border-radius: 15px;
}

p, li {
	font-size: 20px;
}

a {
	text-decoration: none;
}

a:hover {
	color: goldenrod;
}

.ingredients, .steps {
	width: 50%;
}

.ingredients {
	float: left;
}

.steps {
	float: right;
}

.rotated {
	transform: rotate(90deg);
}