/*Variables*/
:root {
	--nav-height: 50px;
}

/*Element selectors*/
* {
	color: white;
}

body {
	margin: 0 auto;
	background-color: #1c1c1c;
}

nav {
	height: var(--nav-height);
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 0;
	font-size: 32px;
}

main {
	min-height: calc(100vh - var(--nav-height));
	padding: var(--nav-height) 16.5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 20px;
}

footer {
	height: 100px;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	text-align: center;
	margin-top: 0;
}

a {
	text-decoration: none;
}

a:hover {
	color: goldenrod;
}

a:active {
	color: white;
}

img {
	height: 300px;
	width: auto;
	display: block;
	margin: auto;
	border-radius: 15px;
	border: 2px solid white;
	padding: 2px;
}

/*Class selectors*/
.rotated {
	transform: rotate(90deg);
}

.ingredients {
	width: 50%;
	float: left;
}

.steps {
	width: 50%;
	float: right;
}